<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Zazzle Tools - Admin Panel</title>
        <link rel="stylesheet" href="bootstrap.min.css" />
        <link rel="stylesheet" href="admin-styles.css" />
    </head>
    <body>
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <label class="navbar-brand">Zazzle Tools - Admin Panel</label>
        </nav>
        <section id="sideMenu" class="sideMenu">
            <nav>
                <a href="#">User</a>
                <a href="#">IP</a>
            </nav>
        </section>
    </body>
</html>
