* {
    box-sizing: border-box;
}

body {
    background-color: lightgrey;
}

.sideMenu {
    background-color: #eee;
    max-width: 200px;
    width: 100%;
    position: absolute;
    top: 64px;
    bottom: 0;
}
.sideMenu nav button {
    background-color: #ddd;
    border: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    display: block;
}
.sideMenu nav button:hover {
    background-color: #ccc;
}
.sideMenu nav button.active {
    background-color: #bbb;
    border-left: 8px solid green;
}
.container {
    max-width: 1074px;
    width: 100%;
    position: absolute;
    left: 200px;
    top: 64px;
    bottom: 0;
}
