<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="bootstrap.min.css" />
    <link rel="stylesheet" href="styles.css" />
    <title>Zazzle Upload Tool</title>
    <style>
      .hidetext {
        -webkit-text-security: disc; /* Default */
      }
      /* Style the tab */
      .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
      }

      /* Style the buttons that are used to open the tab content */
      .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
      }

      /* Change background color of buttons on hover */
      .tab button:hover {
        background-color: #ddd;
      }

      /* Create an active/current tablink class */
      .tab button.active {
        background-color: #ccc;
      }

      /* Style the tab content */
      .tabcontent {
        width: 99.6%;
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-right: none;
        border-bottom: none;
        z-index: 2;
      }

      /*Style the text area */
      .textarea {
        width: 100%;
        height: 150px;
        border: 1px solid #ccc;
        border-radius: 0.25rem;
      }

      .btnSave {
        width: 100%;
      }

      .sticky {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1;
      }
      .input-category {
        width: 300px;
      }
      .btnCateSave {
        margin-top: 10px;
      }
      /* .btnLogout { */
      /* margin-left: 20px; */
      /* float: right; */
      /* } */
      .loginName {
        max-width: 200px;
        widows: 100%;
        margin-left: 480px;
        color: #fff;
      }
    </style>
  </head>

  <body>
    <div id="divTest"></div>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark justify-content-end">
      <label class="navbar-brand">Zazzle Upload Tool</label>
      <span class="loginName text-right"></span>
      <button class="btn btn-secondary btn-xs my-xs-btn btnLogout ml-auto mr-1" type="button" onclick="logoutFunc()">
        <span class="glyphicon glyphicon-pencil"> Logout </span>
      </button>
    </nav>
    <br />
    <!-- Tab links -->
    <div class="tab" id="tab">
      <button class="tablinks active" onclick="openTab(event, 'account')">Accounts</button>
      <button class="tablinks" onclick="openTab(event, 'product')">Products</button>
      <button class="tablinks" onclick="openTab(event, 'category')">Category</button>
      <button class="tablinks" onclick="openTab(event, 'logs')">Logs</button>
    </div>
    <div class="col-sm-12 text-right">
      <button class="btn btn-warning btn-xs my-xs-btn btnImport" type="button" onclick="importFunc()">
        <span class="glyphicon glyphicon-pencil"> Import Account </span>
      </button>
    </div>
    <div id="account" class="tabcontent" style="display: block">
      <table id="userTable" class="table table-hover">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Account</th>
            <!-- <th scope="col">Password</th> -->
            <th scope="col">Proxy</th>
            <th scope="col">Proxy Username</th>
            <!-- <th scope="col">Proxy Password</th> -->
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody id="tableBody"></tbody>
      </table>
    </div>

    <div id="product" class="tabcontent">
      <div class="row">
        <div class="col-sm-6">
          <h3>Products</h3>
          <textarea id="product-area-1" class="textarea"></textarea>
        </div>
        <div class="col-sm-6">
          <h3>Departments</h3>
          <input id="department-1" type="text" class="form-control" />
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <textarea id="product-area-2" class="textarea"></textarea>
        </div>
        <div class="col-sm">
          <input id="department-2" type="text" class="form-control" />
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <textarea id="product-area-3" class="textarea"></textarea>
        </div>
        <div class="col-sm">
          <input id="department-3" type="text" class="form-control" />
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <textarea id="product-area-4" class="textarea"></textarea>
        </div>
        <div class="col-sm">
          <input id="department-4" type="text" class="form-control" />
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <textarea id="product-area-5" class="textarea"></textarea>
        </div>
        <div class="col-sm">
          <input id="department-5" type="text" class="form-control" />
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button class="btn btn-primary btn-xs my-xs-btn btnSave" type="button" onclick="saveProductFunc()">
            <span class="glyphicon glyphicon-pencil"></span> Save
          </button>
          <div id="msg-product"></div>
        </div>
      </div>
      <!-- <textarea id="product-area" class="textarea"></textarea> -->
    </div>

    <div id="category" class="tabcontent">
      <h3>Category</h3>
      <input type="text" class="input-category form-control" id="input-category" />
      <button class="btn btn-primary btn-xs my-xs-btn btnCateSave" type="button" onclick="saveCategoryFunc()">
        <span class="glyphicon glyphicon-pencil"></span> Save
      </button>
      <div style="margin-top: 10px" id="msg-cate"></div>
    </div>

    <div id="logs" class="tabcontent">
      <h3>Logs</h3>
      <ul style="list-style-type: circle"></ul>
    </div>

    <script>
      const stringify = require("csv-stringify");
      const parse = require("csv-parse");
      const electron = require("electron");
      const log = require("electron-log");
      const remote = electron.remote;
      const { ipcRenderer, dialog } = electron;
      const path = require("path");
      const fs = require("fs");
      let session = remote.session;
      let cookies = [];
      session.defaultSession.cookies
        .get({}, (err, cookie) => {
          if (err) {
            log.error(err);
          }
          return cookie;
        })
        .then((data) => {
          cookies = data;
          const loginName = document.querySelector(".loginName");
          loginName.innerHTML = `Welcome, ${data[0].name}`;
        });
      let tableRef = document.getElementById("userTable").getElementsByTagName("tbody")[0];
      let productArea1 = document.getElementById("product-area-1");
      let productArea2 = document.getElementById("product-area-2");
      let productArea3 = document.getElementById("product-area-3");
      let productArea4 = document.getElementById("product-area-4");
      let productArea5 = document.getElementById("product-area-5");
      let department1 = document.getElementById("department-1");
      let department2 = document.getElementById("department-2");
      let department3 = document.getElementById("department-3");
      let department4 = document.getElementById("department-4");
      let department5 = document.getElementById("department-5");
      let ul = document.querySelector("ul");
      let categoryInput = document.getElementById("input-category");
      const msgDiv = document.querySelector("#msg-product");
      const msgCate = document.querySelector("#msg-cate");
      const categoryPath =
        process.env.NODE_ENV === "development"
          ? "./data/category.csv"
          : path.join(process.resourcesPath, "data/category.csv");
      ipcRenderer.on("logs", function (e, item) {
        const li = document.createElement("li");
        const itemText = document.createTextNode(item);
        li.appendChild(itemText);
        ul.appendChild(li);
      });
      ipcRenderer.on("reload-acc-info", function (e, item) {
        readAccInfo();
      });
      function readAccInfo() {
        try {
          const infoPath =
            process.env.NODE_ENV === "development"
              ? "./data/info.csv"
              : path.join(process.resourcesPath, "data/info.csv");
          fs.readFile(infoPath, "utf8", function (err, data) {
            if (err) {
              log.error(err);
              throw err;
            }
            parse(data, { columns: false, trim: true }, function (err, rows) {
              if (err) {
                log.error(err);
                throw err;
              }
              tableRef.innerHTML = "";
              for (let index = 0; index < rows.length; index++) {
                const elements = rows[index];
                var dataJson = JSON.stringify(elements);
                var str = "<th scope='row'>" + index.toString() + "</th>";
                elements.forEach((element, index) => {
                  if (index == 1 || index == 4) {
                    //str += "<td class='hidetext'>" + element + "</td>";
                  } else {
                    str += "<td>" + element + "</td>";
                  }
                });
                str +=
                  `<td><button class='btn btn-primary btn-xs my-xs-btn' type='button' onClick='selectFunc(` +
                  dataJson +
                  `)' >` +
                  "<span class='glyphicon glyphicon-pencil'></span> Upload </button>";
                str +=
                  `<button style='margin-left:10px;' class='btn btn-primary btn-xs my-xs-btn' type='button' onClick='openFunc(` +
                  dataJson +
                  `)' >` +
                  "<span class='glyphicon glyphicon-pencil'></span> Open </button></td>";
                tableRef.insertRow().innerHTML = str;
              }
            });
          });
        } catch (err) {
          log.error(err);
          return;
        }
      }
      readAccInfo();
      //read product
      const productPath =
        process.env.NODE_ENV === "development"
          ? "./data/product.csv"
          : path.join(process.resourcesPath, "data/product.csv");
      fs.readFile(productPath, "utf8", function (err, data) {
        if (err) {
          log.error(err);
          throw err;
        }
        parse(data, { relax_column_count: true, trim: true }, function (err, rows) {
          if (err) {
            log.error(err);
            throw err;
          }
          if (rows.length > 0) {
            for (let i = 0; i < rows.length; i++) {
              const elements = rows[i];
              elements.forEach((element, index) => {
                if (index == 0) {
                  eval("department" + (i + 1)).value = element;
                } else {
                  eval("productArea" + (i + 1)).value += element + "\n";
                }
              });
            }
          }
        });
      });

      //read category
      fs.readFile(categoryPath, "utf8", function (err, data) {
        if (err) {
          log.error(err);
          throw err;
        }
        parse(data, { columns: false, trim: true }, function (err, rows) {
          if (err) {
            log.error(err);
            throw err;
          }
          if (rows.length > 0) {
            const elements = rows[0];
            elements.forEach((element, index) => {
              if (index == elements.length - 1) {
                categoryInput.value += element;
              } else {
                categoryInput.value += element + ",";
              }
            });
          }
        });
      });

      function openTab(evt, tabName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
          tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
          tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
      }

      function selectFunc(arrayData) {
        if (arrayData[0] == "" || arrayData[1] == "") {
          const errMsgBox = dialog.showErrorBox("Username or password incorrect !!!", "");
        }
        ipcRenderer.send("select-clicked", arrayData);
      }

      function saveProductFunc() {
        const dialog = remote.dialog;
        for (let i = 1; i <= 5; i++) {
          if (eval("productArea" + i).value != "") {
            if (eval("department" + i).value == "") {
              const errMsgBox = dialog.showErrorBox(`Department ${i} can not be empty !!!`, "");
            }
          }
        }
        let columns = {
          product: "Product",
        };
        let data1 = stringHandle(productArea1.value, department1.value);
        let data2 = stringHandle(productArea2.value, department2.value);
        let data3 = stringHandle(productArea3.value, department3.value);
        let data4 = stringHandle(productArea4.value, department4.value);
        let data5 = stringHandle(productArea5.value, department5.value);
        let data = [...data1, ...data2, ...data3, ...data4, ...data5];
        stringify(data, { header: false }, function (err, output) {
          if (err) {
            log.error(err);
            throw err;
          }
          fs.writeFile(productPath, output, function (err) {
            if (err) {
              log.error(err);
              throw err;
            }
            msgDiv.style.display = "block";
            msgDiv.className = "alert alert-success alert-dismissible show";
            msgDiv.innerHTML = "Successfully Saved";
            setTimeout(() => {
              msgDiv.style.display = "none";
            }, 2000);
          });
        });
      }

      function saveCategoryFunc() {
        let columns = {
          product: "Category",
        };
        let data = stringHandle(categoryInput.value, "", ",", "category");
        stringify(data, function (err, output) {
          if (err) {
            log.error(err);
            throw err;
          }
          const categoryPath =
            process.env.NODE_ENV === "development"
              ? "./data/category.csv"
              : path.join(process.resourcesPath, "data/category.csv");
          fs.writeFile(categoryPath, output, function (err) {
            if (err) {
              log.error(err);
              throw err;
            }
            msgCate.style.display = "flex";
            msgCate.className = "alert alert-success alert-dismissible show";
            msgCate.innerHTML = "Successfully Saved";
            setTimeout(() => {
              msgCate.style.display = "none";
            }, 2000);
          });
        });
      }

      function importFunc() {
        ipcRenderer.send("import-clicked", "openImportWindow");
      }
      window.onscroll = function () {
        stickyHeader();
      };

      var navbar = document.getElementById("tab");
      var sticky = navbar.offsetTop;
      function stickyHeader() {
        if (window.pageYOffset >= sticky) {
          navbar.classList.add("sticky");
        } else {
          navbar.classList.remove("sticky");
        }
      }

      function logoutFunc() {
        const { remote } = require("electron");
        const dialog = remote.dialog;
        let WIN = remote.getCurrentWindow();
        var options = {
          type: "question",
          buttons: ["&Yes", "&No"],
          title: "Confirm Logout",
          normalizeAccessKeys: true,
          message: "Do you really want to logout?",
        };
        dialog
          .showMessageBox(WIN, options)
          .then((choice) => {
            if (choice.response === 0) {
              session.defaultSession.cookies.remove("http://localhost", cookies[0].name, (error) => {
                if (error) console.log(`error removing cookie ${cookie.name}`, error);
              });
              ipcRenderer.send("logout", "logout");
            }
          })
          .catch((err) => {
            console.log("ERROR", err);
          });
      }

      function openFunc(data) {
        ipcRenderer.send("open-account", data);
      }

      function stringHandle(str, department = "", splitStr = "\n", type = "") {
        let data = [];
        if (str.trim() != "") {
          let textSplit = str
            .split(splitStr)
            .filter((v) => {
              return v != "";
            })
            .map((v) => {
              return v.trim();
            });
          if (type != "category") {
            textSplit.unshift(department);
          }
          data.push(textSplit);
        }
        return data;
      }
    </script>
  </body>
</html>
