<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="bootstrap.min.css" />
    <link rel="stylesheet" href="styles.css" />
    <title>Zazzle Upload Tool</title>
    <style>
      .hidetext {
        -webkit-text-security: disc; /* Default */
      }
      /* Style the tab */
      .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
      }

      /* Style the buttons that are used to open the tab content */
      .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
      }

      /* Change background color of buttons on hover */
      .tab button:hover {
        background-color: #ddd;
      }

      /* Create an active/current tablink class */
      .tab button.active {
        background-color: #ccc;
      }

      /* Style the tab content */
      .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-bottom: none;
      }

      /*Style the text area */
      .textarea {
        width: 500px;
        height: 300px;
        border: 1px solid #ccc;
      }

      .btnSave {
        margin-top: -300px;
      }

      .sticky {
        position: fixed;
        top: 0;
        width: 100%;
      }
      .input-category {
        width: 300px;
      }
      .btnCateSave {
        margin-top: 10px;
      }
      /* .btnLogout { */
      /* margin-left: 20px; */
      /* float: right; */
      /* } */
      .loginName {
        max-width: 200px;
        widows: 100%;
        margin-left: 480px;
        color: #fff;
      }
    </style>
  </head>

  <body>
    <div id="divTest"></div>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark justify-content-end">
      <label class="navbar-brand">Zazzle Upload Tool</label>
      <span class="loginName text-right"></span>
      <button class="btn btn-secondary btn-xs my-xs-btn btnLogout ml-auto mr-1" type="button" onclick="logoutFunc()">
        <span class="glyphicon glyphicon-pencil"> Logout </span>
      </button>
    </nav>
    <br />
    <!-- Tab links -->
    <div class="tab" id="tab">
      <button class="tablinks active" onclick="openTab(event, 'account')">Accounts</button>
      <button class="tablinks" onclick="openTab(event, 'product')">Products</button>
      <button class="tablinks" onclick="openTab(event, 'category')">Category</button>
      <button class="tablinks" onclick="openTab(event, 'logs')">Logs</button>
    </div>
    <div class="col-sm-12 text-right">
      <button class="btn btn-warning btn-xs my-xs-btn btnImport" type="button" onclick="importFunc()">
        <span class="glyphicon glyphicon-pencil"> Import Account </span>
      </button>
    </div>
    <div id="account" class="tabcontent" style="display: block">
      <table id="userTable" class="table table-hover">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Account</th>
            <th scope="col">Password</th>
            <th scope="col">Proxy</th>
            <th scope="col">Proxy Username</th>
            <th scope="col">Proxy Password</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody id="tableBody"></tbody>
      </table>
    </div>

    <div id="product" class="tabcontent">
      <h3>Products</h3>
      <textarea id="product-area" class="textarea"></textarea>
      <button class="btn btn-primary btn-xs my-xs-btn btnSave" type="button" onclick="saveProductFunc()">
        <span class="glyphicon glyphicon-pencil"></span> Save
      </button>
      <div id="msg-product"></div>
    </div>

    <div id="category" class="tabcontent">
      <h3>Category</h3>
      <input type="text" class="input-category form-control" id="input-category" />
      <button class="btn btn-primary btn-xs my-xs-btn btnCateSave" type="button" onclick="saveCategoryFunc()">
        <span class="glyphicon glyphicon-pencil"></span> Save
      </button>
      <div style="margin-top: 10px" id="msg-cate"></div>
    </div>

    <div id="logs" class="tabcontent">
      <h3>Logs</h3>
      <ul style="list-style-type: circle"></ul>
    </div>

    <script>
      const stringify = require("csv-stringify");
      const parse = require("csv-parse");
      const electron = require("electron");
      const remote = electron.remote;
      const { ipcRenderer, dialog } = electron;
      const path = require("path");
      const fs = require("fs");
      let session = remote.session;
      let cookies = [];
      session.defaultSession.cookies
        .get({}, (err, cookie) => {
          if (err) throw err;
          return cookie;
        })
        .then((data) => {
          cookies = data;
          const loginName = document.querySelector(".loginName");
          loginName.innerHTML = `Welcome, ${data[0].name}`;
        });
      setTimeout(() => {
        console.log(cookies);
      }, 1000);
      let tableRef = document.getElementById("userTable").getElementsByTagName("tbody")[0];
      let productArea = document.getElementById("product-area");
      let ul = document.querySelector("ul");
      let categoryInput = document.getElementById("input-category");
      const msgDiv = document.querySelector("#msg-product");
      const msgCate = document.querySelector("#msg-cate");
      const categoryPath =
        process.env.NODE_ENV === "development"
          ? "./data/category.csv"
          : path.join(process.resourcesPath, "data/category.csv");
      ipcRenderer.on("logs", function (e, item) {
        const li = document.createElement("li");
        const itemText = document.createTextNode(item);
        li.appendChild(itemText);
        ul.appendChild(li);
      });
      ipcRenderer.on("reload-acc-info", function (e, item) {
        readAccInfo();
      });
      function readAccInfo() {
        const infoPath =
          process.env.NODE_ENV === "development"
            ? "./data/info.csv"
            : path.join(process.resourcesPath, "data/info.csv");
        fs.readFile(infoPath, function (err, data) {
          if (err) {
            throw err;
          }
          parse(data, { columns: false, trim: true }, function (err, rows) {
            tableRef.innerHTML = "";
            for (let index = 1; index < rows.length; index++) {
              const elements = rows[index];
              var dataJson = JSON.stringify(elements);
              var str = "<th scope='row'>" + index.toString() + "</th>";
              elements.forEach((element, index) => {
                if (index == 1 || index == 4) {
                  str += "<td class='hidetext'>" + element + "</td>";
                } else {
                  str += "<td>" + element + "</td>";
                }
              });
              str +=
                `<td><button class='btn btn-primary btn-xs my-xs-btn' type='button' onClick='selectFunc(` +
                dataJson +
                `)' >` +
                "<span class='glyphicon glyphicon-pencil'></span> Upload </button>";
              str +=
                `<button style='margin-left:10px;' class='btn btn-primary btn-xs my-xs-btn' type='button' onClick='openFunc(` +
                dataJson +
                `)' >` +
                "<span class='glyphicon glyphicon-pencil'></span> Open </button></td>";
              tableRef.insertRow().innerHTML = str;
            }
          });
        });
      }
      readAccInfo();
      const productPath =
        process.env.NODE_ENV === "development"
          ? "./data/product.csv"
          : path.join(process.resourcesPath, "data/product.csv");
      fs.readFile(productPath, function (err, data) {
        if (err) {
          throw err;
        }
        parse(data, { columns: false, trim: true }, function (err, rows) {
          const elements = rows[0];
          elements.forEach((element) => {
            productArea.value += element + "\n";
          });
        });
      });
      fs.readFile(categoryPath, function (err, data) {
        if (err) {
          throw err;
        }
        parse(data, { columns: false, trim: true }, function (err, rows) {
          const elements = rows[0];
          elements.forEach((element, index) => {
            if (index == elements.length - 1) {
              categoryInput.value += element;
            } else {
              categoryInput.value += element + ",";
            }
          });
        });
      });
      function openTab(evt, tabName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
          tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
          tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
      }
      function selectFunc(arrayData) {
        if (arrayData[0] == "" || arrayData[1] == "") {
          const errMsgBox = dialog.showErrorBox("Username or password incorrect !!!", "");
        }
        ipcRenderer.send("select-clicked", arrayData);
      }
      function saveProductFunc() {
        let columns = {
          product: "Product",
        };
        let textSplit = productArea.value
          .split("\n")
          .filter((v) => {
            return v != "";
          })
          .map((v) => {
            return v.trim();
          });
        let data = [];
        data.push(textSplit);
        stringify(data, function (err, output) {
          const product2Path =
            process.env.NODE_ENV === "development"
              ? "./data/product.csv"
              : path.join(process.resourcesPath, "data/product.csv");
          fs.writeFile(product2Path, output, function (err) {
            if (err) {
              throw err;
            }
            msgDiv.style.display = "block";
            msgDiv.className = "alert alert-success alert-dismissible show";
            msgDiv.innerHTML = "Successfully Saved";
            setTimeout(() => {
              msgDiv.style.display = "none";
            }, 2000);
          });
        });
      }
      function saveCategoryFunc() {
        let columns = {
          product: "Category",
        };
        let textSplit = categoryInput.value
          .split(",")
          .filter((v) => {
            return v != "";
          })
          .map((v) => {
            return v.trim();
          });
        let data = [];
        data.push(textSplit);
        stringify(data, function (err, output) {
          const categoryPath =
            process.env.NODE_ENV === "development"
              ? "./data/category.csv"
              : path.join(process.resourcesPath, "data/category.csv");
          fs.writeFile(categoryPath, output, function (err) {
            if (err) {
              throw err;
            }
            msgCate.style.display = "flex";
            msgCate.className = "alert alert-success alert-dismissible show";
            msgCate.innerHTML = "Successfully Saved";
            setTimeout(() => {
              msgCate.style.display = "none";
            }, 2000);
          });
        });
      }
      function importFunc() {
        ipcRenderer.send("import-clicked", "openImportWindow");
      }
      window.onscroll = function () {
        stickyHeader();
      };
      var navbar = document.getElementById("tab");
      var sticky = navbar.offsetTop;
      function stickyHeader() {
        if (window.pageYOffset >= sticky) {
          navbar.classList.add("sticky");
        } else {
          navbar.classList.remove("sticky");
        }
      }
      function logoutFunc() {
        const { remote } = require("electron");
        const dialog = remote.dialog;
        let WIN = remote.getCurrentWindow();
        var options = {
          type: "question",
          buttons: ["&Yes", "&No"],
          title: "Confirm Logout",
          normalizeAccessKeys: true,
          message: "Do you really want to logout?",
        };
        dialog
          .showMessageBox(WIN, options)
          .then((choice) => {
            if (choice.response === 0) {
              session.defaultSession.cookies.remove("http://localhost", cookies[0].name, (error) => {
                if (error) console.log(`error removing cookie ${cookie.name}`, error);
              });
              ipcRenderer.send("logout", "logout");
            }
          })
          .catch((err) => {
            console.log("ERROR", err);
          });
      }
      function openFunc(data) {
        ipcRenderer.send("open-account", data);
      }
    </script>
  </body>
</html>
